*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  place-content: center;
  background: darkslategrey;
}

.card__tittle {
  line-height: 1 !important;
}

p {
  line-height: 1.3;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.container-fix {
  max-width: 600px;
}

.ls-2 {
  letter-spacing: 7px;
}
